* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template: 'chat calendar';
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100vh;
}
.chat {
    grid-area: chat;
}
.calendar-container {
    grid-area: calendar;
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}
@media (max-aspect-ratio: 1/1) {
    .grid-container {
        grid-template:
            'chat'
            'calendar';
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        height: 100vh;
    }
}